.how-it-works{
    padding:100px 60px;
    background:#0f172a;
}

.how-title{
    text-align:center;
    color:white;
    font-size:50px;
    font-weight:700;
    margin-bottom:20px;
}

.how-subtitle{
    text-align:center;
    color:#94a3b8;
    font-size:18px;
    max-width:700px;
    margin:0 auto 70px;
    line-height:30px;
}

.steps{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.step-card{
    background:#1f2937;
    padding:40px 30px;
    border-radius:20px;
    text-align:center;
    transition:.35s;
    border:1px solid rgba(255,255,255,.08);
}

.step-card:hover{
    transform:translateY(-12px);
    border-color:#3b82f6;
    box-shadow:0 20px 45px rgba(37,99,235,.25);
}

.step-icon{
    width:85px;
    height:85px;
    margin:0 auto 25px;
    border-radius:50%;
    background:rgba(37,99,235,.12);

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:36px;
    color:#3b82f6;
}

.step-card h3{
    color:white;
    font-size:28px;
    margin-bottom:18px;
}

.step-card p{
    color:#cbd5e1;
    line-height:30px;
    font-size:17px;
}