/* ================= UPLOAD PAGE ================= */

.upload-page{
    min-height:100vh;
    background:#0f172a;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px 20px;
}

.upload-card{
    width:100%;
    max-width:700px;

    background:#1f2937;

    padding:45px;

    border-radius:20px;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:0 20px 50px rgba(0,0,0,.35);

    text-align:center;
}

.upload-card h2{
    color:#fff;
    font-size:36px;
    margin-bottom:12px;
}

.upload-text{
    color:#94a3b8;
    font-size:17px;
    line-height:30px;
    margin-bottom:35px;
}

.upload-box{
    border:2px dashed #3b82f6;
    border-radius:18px;

    padding:60px 30px;

    background:#111827;

    transition:.3s;
}

.upload-box:hover{
    border-color:#60a5fa;
    background:#182338;
}

.upload-icon{
    font-size:65px;
    margin-bottom:20px;
}

.upload-box h3{
    color:#fff;
    font-size:28px;
    margin-bottom:10px;
}

.upload-box p{
    color:#94a3b8;
    margin-bottom:25px;
}

.choose-btn{
    display:inline-block;

    padding:14px 30px;

    background:#2563eb;

    color:#fff;

    border-radius:10px;

    cursor:pointer;

    font-weight:600;

    transition:.3s;

    text-decoration:none;
}

.choose-btn:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
}

.file-name{
    margin-top:30px;

    color:#e2e8f0;

    font-size:17px;
}

.file-name strong{
    color:#ffffff;
}

.analyze-btn{
    width:100%;

    margin-top:30px;

    padding:16px;

    border:none;

    border-radius:12px;

    background:#2563eb;

    color:#fff;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.analyze-btn:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
}

/* ================= Responsive ================= */

@media(max-width:768px){

    .upload-card{
        padding:30px 20px;
    }

    .upload-card h2{
        font-size:30px;
    }

    .upload-box{
        padding:40px 20px;
    }

    .upload-box h3{
        font-size:22px;
    }

}